@import url('https://fonts.googleapis.com/css2?family=Asap:wght@300&family=Barlow:wght@500&family=Glory&family=Lobster&family=Maven+Pro:wght@500&family=Montserrat:wght@100&family=Phudu:wght@500&family=Roboto:wght@300&display=swap');

:root {
    --pimary-color: aqua;
    --secondary-color: rgb(255, 255, 255);
    --background-image: linear-gradient(#020303, #002833e1, #00181b, rgb(12, 37, 37));
    --border-color: 0 0 3px aqua;
    --border-outline: 1px solid aqua;
    --link-color: rgb(0, 0, 0);

}

.darktheme {
    --secondary-color: black;
    --background-image: linear-gradient(#059c9c, #066985e1, #09545e, rgb(17, 158, 158));
    --border-color: 0 0 3px aqua;
    --border-outline: 1px solid aqua;
    --link-color: white;



}

* {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto','san-serif';
    text-decoration: none;   
}

body {
    background-image: var(--background-image);
}

#container {
    /* border: 2px solid red; */
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    align-items: center;

}

.mini_container {
    width: 100%;
    max-width: 1300px;
    /* border: 2px solid red; */
    display: flex;
    padding: 20px;
    gap: 30px;
    height: 100%;

}

.left_container {
    border-radius: 7px;
    width: 320px;
    text-align: center;
    background-image: var(--background-image);

/* border: 2px solid red; */
    font-size: larger;
    border: var(--border-outline);
    box-shadow: var(--border-color);
    overflow-y: scroll;


}

.right_container {
    border: var(--border-outline);

    background-image: var(--background-image);



    box-shadow: var(--border-color);

    width: 1024px;
    border-radius: 7px;

    text-align: center;
    font-size: larger;
}

.heading_main {
    padding: 5px 0;
    color: var(--secondary-color);


    width: 100%;
    background-color: rgba(0, 0, 0, 0.199);
}

.arrow_icon i {
    color: var(--pimary-color);
    padding: 10px;
    margin: 10px;
    font-size: 30px;
}

.left_container .heading {
    /* border: 1px solid white; */
    display: flex;
    padding: 5px 0;
    position: sticky;

    top: 0%;
    color: var(--secondary-color);

    /* z-index: 10; */
    width: 100%;
    background-color: rgba(0, 0, 0, 0.199);

    justify-content: space-between;
    align-items: center;
    /* padding: 0 10px; */

    /* border: 2px solid blue; */

}
.outer_heading .heading h1{
    font-size: 25px;
}
.heading h1 {
    /* font-size: 40px; */
    margin-left: 10px;
    font-family: 'Montserrat';
}

.personal_info {
    border-radius: 7px;

    /* border: 1px solid white; */
    margin-top: 130px;
    /* padding: 20px 0; */
    /* word-wrap: break-word; */

}

.personal_info .Text {
    color: var(--pimary-color);
    font-size: 21px;
}

.personal_info p {
    margin: 30px auto 0;
    font-size: 20px;
    font-weight: 500;
    /* line-height: 30px; */
    width: 80%;
    text-align: center;
}

.personal_info h1 {
    font-size: 22px;
    color: var(--secondary-color);

    /* margin: 30px 0 0 0; */
}

.personal_info h2 {
    font-size: 22px;
    margin: 20px 0 0 0;
    color: var(--secondary-color);

}

.personal_info .resume1 {
    width: 70%;
    padding: 5px 10px;
    font-size: large;
    border: none;
    outline: none;
    color: var(--secondary-color);
    background-image: var(--background-image);
    border-radius: 5px;
    font-weight: 800;
    border: var(--border-outline);

}

/* .personal_info button:hover{
    background-color: aqua;
    color: black;
} */
.personal_info .socials {
    margin: 40px 0 0 0;

    display: flex;
    justify-content: center;
    gap: 30px;
    /* background-color: wheat; */
    font-size: 30px;
}

.personal_info .socials a {
    color: var(--secondary-color);




}

.right_container .heading {
    /* border: 1px solid white; */

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    z-index: 10;
    /* position: relative; */
    /* border: 2px solid blue; */

}

.left_container {

    overflow-y: scroll;
    height: 100%;
    scrollbar-width: none;

}

.left_innerContainer {
    width: 100%;

    border-radius: 7px;

    /* border: 1px solid orange; */
}

.heading i {
    font-size: larger;
    margin-right: 10px;
}

.left_container .links {
    position: absolute;
    display: none;
    background: transparent;
    top: 7%;

    width: 100%;


}


.left_container .links .lists {
    /* border: 1px solid green; */
    justify-content: space-around;
    height: 100px;
    width: 100%;
    color: var(--secondary-color);
    z-index: 100;
    /* gap: 10px; */
}

.left_container .links .lists li {
    /* border: 1px solid black; */
    padding: 5px 0;

}

.left_container .links .lists li:hover {
    background-color: rgba(0, 0, 0, 0.404);

}

.right_container {
    position: relative;
    overflow-y: scroll;
    height: 100%;
    scrollbar-width: none;
}

.right_inner_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0%;
    left: 0%;
    height: 100%;
    /* border: 1px solid orange; */
}


.links {
    /* border: 1px solid red; */
    padding: 10px;
    margin-right: 50px;
    display: flex;
    width: 40%;
    justify-content: space-around;
    font-weight: bolder;
    text-transform: capitalize;
    cursor: pointer;
}

.inside_container {
    /* border: 2px solid pink; */
    width: 80%;


}

.inside_container h1,
p {
    text-align: start;
    color: var(--secondary-color);
    color: var(--secondary-color);



}

.inside_container p {
    margin: 15px 0;
}

.inside_container span {
    color: var(--pimary-color);

}

.inside_container a {
    width: 30%;
    padding: 5px 10px;
    font-size: large;
    border: none;
    border: var(--border-outline);
    color: var(--secondary-color);

    background-image: var(--background-image);
    outline: none;
    border-radius: 5px;
    font-weight: 800;
}

/* .inside_container button:hover{
    background-color: aqua;
    color: black;
} */
.inside_main {
    display: flex;
    justify-content: space-around;
    margin: 150px 0 0 0;
    padding: 0 10px;
}

.inside_main .socials {
    display: flex;

    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    font-size: 30px;
}

.inside_main .socials a {
    color: var(--secondary-color);

}

/* /////////////////////////////////////////////////////// */

.popup_container {
    height: 100%;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    /* padding: 10px; */
    transform: scale(0);
    /* display: none; */
    position: absolute;
    top: 0%;
    right: 0%;
 

}

.pop_mini_container {
    width: 100%;
    max-width: 1024px;
   border-radius: 10px;
   border: var(--border-outline);
   box-shadow: var(--border-color);
    overflow-y: scroll;
    scrollbar-width: none;
    background-color: #00181b;
 /* backdrop-filter: blur(20px); */

}
.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}.top{
    color: var(--secondary-color);
}
.top h1{
    margin: 10px 0;
}
.top_content {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    color: var(--secondary-color);
    gap: 5px;
}
.main_content{
    /* border: 1px solid pink; */
    width: 90%;
    margin-top:50px ;
    display: flex;
    flex-direction: column;
    gap: 40px;
   height: 50%;
   background-color: var(--background-image);

}
.first_data{
    width: 100%;
    /* border: 1px solid green; */
    display: flex;
    padding: 5px;
    gap: 2%;
    height: 50%;
}
.first_data .video{
   width: 49%;
   display: flex;
   flex-direction: column;
   align-items: center;

}
.first_data .video video{
   width: 100%;
   height: 100%;
   
}
.first_data .video a{
    margin: 10px 0;
    color: var(--pimary-color);
}
.videoInfo{
    /* border: 1px solid yellow; */
    width: 49%;
    display: flex;align-items: center;
    padding: 10px;
}
.videoInfo .paragraph{
    width: 100%;

}
.secondData{
    width: 100%;
    /* border: 1px solid green; */
    display: flex;
    padding: 5px;
    gap: 2%;
}
.secondData .video{
   width: 49%;
   height: 50%;
   display: flex;
   flex-direction: column;
   align-items: center;

}
.secondData .video video{
   width: 100%;
   height: 100%;
   
}
.secondData .video a{
    margin: 10px 0;
    color: var(--pimary-color);

}
.videoInfo{
    /* border: 1px solid yellow; */
    width: 49%;
    display: flex;align-items: center;
    padding: 10px;
}
.videoInfo .paragraph{
    width: 100%;

}
.paragraph p{
    line-height: 25px;
       font-family: 'Glory', sans-serif;
       font-size: large;

}

.popUp{
    transform: scale(1);
    /* display: block; */
}
.popUp1{
    transform: scale(1);
    /* display: block; */
}

.top #xbar{
    position: absolute;
    top: 3%;
    right: 10%;
    font-size: 30px;
    z-index: 10;
}
.div{
    position: fixed;
    top: 0%;
    left: 0%;
    transform: scale(0);
}
.divpop{
    transform: scale(1);
}

@media screen and (min-width:481px) and (max-width:767px){
    .left_container{
        display: none;
    }
    .heading h1{
        font-size: 25px;
    }
    .links{
        gap: 15px;
    }
    .links li{
        font-size: 15px;
    }
    .inside_container h1{
        font-size: 20px;
    }
    .inside_container .Text{
        font-size:20px ;
    }
  
   .top #xbar {
    font-size: 20px;
    top: 2.2%;
}
.first_data{
    display: flex;
    flex-direction: column;
}
.first_data .video{
    width: 100%;
}
.videoInfo{
    width: 100%;
}
.secondData{
    display: flex;
    flex-direction: column-reverse;
}
.secondData .video{
    width: 100%;
}
.videoInfo{
    width: 100%;
}

}
@media screen and (min-width:768px) and (max-width:1024px){
    .left_container{
        display: none;
    }
.first_data .video{
    width: 49%;
}

}
@media screen and (min-width:1025px) and (max-width:1300px){
 .outer_heading .heading h1{
    font-size: 22px;
  }
  .outer_heading .links{
    top: 4%;
  }
  .outer_heading .links .lists{
    font-size: 18px;
  }
  .personal_info h1{
    font-size: 15px;
  }
  .personal_info h2{
    font-size: 15px;
  }
  .personal_info .Text{
    font-size: 15px;
  }
  .personal_info p{
    font-size: 15px;
  }
  
  .top #xbar {
    top: 4%;
}
 


}

